@model STD.Models.DB.AuditManegementSegment
@using STD.Models.DB
@{
    Layout = null;
    Faculty? _Faculty = null;
    AuditIssueMain? _AuditIssueMain = null;
    List<AuditManegementSegmentSub>? _ListAuditManegementSegmentSub = new List<AuditManegementSegmentSub>();
    List<UserAuditor> _ListUserAuditor = new List<UserAuditor>();
    WorkingPaper? _WorkingPaper = null;
    var WorkingPaperID = ViewBag.WorkingPaperID;
    if (Model != null)
    {
        using (AuditManager_Connect DB = new AuditManager_Connect())
        {
            _Faculty = DB.Faculties.Where(w => w.FacultyId.Equals(Model.FacultyId)).FirstOrDefault();
            _AuditIssueMain = DB.AuditIssueMains.Where(w => w.AuditIssueMainId.Equals(Model.AuditIssueMainId)).FirstOrDefault();
            _ListAuditManegementSegmentSub = DB.AuditManegementSegmentSubs.Where(w => w.AuditManegementSegmentId.Equals(Model.AuditManegementSegmentId)).ToList();
            _ListUserAuditor = DB.UserAuditors.ToList();
            if (WorkingPaperID != null && !string.IsNullOrEmpty(WorkingPaperID))
            {
                Guid _WorkingPaperID = Guid.Parse(WorkingPaperID);
                _WorkingPaper = DB.WorkingPapers.Where(w => w.WorkingPaperId.Equals(_WorkingPaperID) && w.AuditManegementSegmentId.Equals(Model.AuditManegementSegmentId)).FirstOrDefault();
            }
        }
    }
}

<style>
    #FormWorkingPaper ol {
    counter-reset: item
    }

    #FormWorkingPaper li {
    display: block
    }

    #FormWorkingPaper li:before {
    content: counters(item, ".") " ";
    counter-increment: item
    }
</style>
<form id="FormWorkingPaper">
    <div class="border border-dark">
        <input type="hidden" id="AuditManegementSegmentID" name="AuditManegementSegmentID" value="@(Model != null ? Model.AuditManegementSegmentId : "")" />
        <input type="hidden" id="WorkingPaperID" name="WorkingPaperID" value="@(WorkingPaperID != null && !string.IsNullOrEmpty(WorkingPaperID) ? WorkingPaperID : "")" />
        <div class="row col-md-12">
            <div class="col-md-2 text-center border-right border-dark p-5">
                <div>
                    <img src="~/AdminLTE/dist/img/AdminLTELogo.png" class="img-thumbnail" width="150" height="150" alt="...">
                </div>
                <div>
                    <span>ศูนย์ตรวจสอบภายใน</span>
                </div>
                <div>
                    <span>มหาวิทยาลัยมหิดล</span>
                </div>
            </div>
            <div class="col-md-6 border-right border-dark p-2">
                <h5 class="text-center">แนวการตรวจสอบ (Audit Program) & กระดาษทำการ (Working Paper)</h5>
                <div class="row mb-2">
                    <label class="col-md-4 col-form-label">หน่วยรับตรวจ :</label>
                    <label class="col-md-8 col-form-label">@(_Faculty != null ? _Faculty.FacultyName : "")</label>
                </div>
                <div class="row mb-2">
                    <label class="col-md-4 col-form-label">โครงการตรวจลำดับที่ :</label>
                    <div class="col-md-8">
                        <input type="number" min="1" class="form-control" id="No" name="No" value="@(_WorkingPaper != null ? _WorkingPaper.No : "")" required />
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-md-4 col-form-label">เรื่องที่ทำการตรวจสอบ :</label>
                    <label class="col-md-8 col-form-label">@(_AuditIssueMain != null ? _AuditIssueMain.AuditIssueMainName : "")</label>
                </div>
                <div class="row mb-2">
                    <label class="col-md-4 col-form-label">ระยะเวลาที่ทำการตรวจสอบ :</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control daterange" id="Daterange" name="Daterange" autocomplete="off" value="@(_WorkingPaper != null ? $"{_WorkingPaper.StartDate.ToString("dd/MM/yyyy")} - {_WorkingPaper.EndDate.ToString("dd/MM/yyyy")}" : "")" required />
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-md-4 col-form-label">ผู้ตรวจสอบ :</label>
                    <div class="col-md-8">
                        <select class="form-control" id="AuditorBy" name="AuditorBy" required>
                            <option value="">----- เลือกผู้ตรวจสอบ -----</option>
                            @foreach (UserAuditor item in _ListUserAuditor)
                            {
                                <option value="@item.AuditorId" selected="@(_WorkingPaper != null && item.AuditorId.Equals(_WorkingPaper.AuditorBy))">@item.FirstName @item.LastName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-md-4 col-form-label">ผู้ควบคุมการปฏิบัติงาน :</label>
                    <div class="col-md-8">
                        <select class="form-control" id="OperationsControllerAuditorBy" name="OperationsControllerAuditorBy" required>
                            <option value="">----- เลือกผู้ควบคุมการปฏิบัติงาน -----</option>
                            @foreach (UserAuditor item in _ListUserAuditor)
                            {
                                <option value="@item.AuditorId" selected="@(_WorkingPaper != null && item.AuditorId.Equals(_WorkingPaper.OperationsControllerAuditorBy))">@item.FirstName @item.LastName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="row">
                    <label class="col-md-4 col-form-label">ทบทวนครั้งที่ :</label>
                    <div class="col-md-8">
                        <input type="number" min="1" class="form-control" id="ReviewNo" name="ReviewNo" autocomplete="off" value="@(_WorkingPaper != null ? _WorkingPaper.ReviewNo : "")" required />
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-md-12 col-form-label DateNowTH"></label>
                </div>
                <hr style="border-top:1px solid" />
                <div class="row mb-2">
                    <label class="col-md-4 col-form-label">ผู้จัดทำ :</label>
                    <div class="col-md-8">
                        <select class="form-control" id="ProducerBy" name="ProducerBy" required>
                            <option value="">----- เลือกผู้จัดทำ -----</option>
                            @foreach (UserAuditor item in _ListUserAuditor)
                            {
                                <option value="@item.AuditorId" selected="@(_WorkingPaper != null && item.AuditorId.Equals(_WorkingPaper.ProducerBy))">@item.FirstName @item.LastName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-md-4 col-form-label">ผู้สอบทาน :</label>
                    <div class="col-md-8">
                        <select class="form-control" id="ReviewerBy" name="ReviewerBy" required>
                            <option value="">----- เลือกผู้สอบทาน -----</option>
                            @foreach (UserAuditor item in _ListUserAuditor)
                            {
                                <option value="@item.AuditorId" selected="@(_WorkingPaper != null && item.AuditorId.Equals(_WorkingPaper.ProducerBy))">@item.FirstName @item.LastName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-md-4 col-form-label">ผู้อนุมัติ :</label>
                    <div class="col-md-8">
                        <select class="form-control" id="ApproveBy" name="ApproveBy" required>
                            <option value="">----- เลือกผู้อนุมัติ -----</option>
                            @foreach (UserAuditor item in _ListUserAuditor)
                            {
                                <option value="@item.AuditorId" selected="@(_WorkingPaper != null && item.AuditorId.Equals(_WorkingPaper.ApproveBy))">@item.FirstName @item.LastName</option>
                            }
                        </select>
                    </div>
                </div>
                <hr style="border-top:1px solid" />
                <div class="row mb-2">
                    <label class="col-md-4 col-form-label">วันที่อนุมัติ :</label>
                    <div class="col-md-8">
                        <input type="date" class="form-control" id="ApproveDate" name="ApproveDate" value="@(_WorkingPaper != null ? _WorkingPaper.ApproveDate.ToString("yyyy-MM-dd") : "")" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top border-dark mb-2">
            <div class="row col-md-12">
                <label class="col-md-2 col-form-label">วัตถุประสงค์ของการตรวจสอบ :</label>
                <span class="mt-2">เพื่อให้มั่นใจว่า</span>
            </div>
            @if (_ListAuditManegementSegmentSub != null && _ListAuditManegementSegmentSub.Count > 0)
            {
                <ol>
                    @foreach (AuditManegementSegmentSub item in _ListAuditManegementSegmentSub.Where(w => w.AuditIssueSubType.Equals(1)).OrderBy(w => w.CreateDate))
                    {
                        <li>. @item.AuditIssueSubDetail</li>
                    }
                </ol>
            }
        </div>
        <div class="border-top border-dark mb-2">
            <div class="row col-md-12">
                <label class="col-form-label ml-3" style="width:3.5rem;">อ้างอิง :</label>
                @if (_ListAuditManegementSegmentSub != null && _ListAuditManegementSegmentSub.Count > 0)
                {
                    <ol style="margin-top:10px;">
                        @foreach (AuditManegementSegmentSub item in _ListAuditManegementSegmentSub.Where(w => w.AuditIssueSubType.Equals(2)).OrderBy(w => w.CreateDate))
                        {
                            <li>. @item.AuditIssueSubDetail</li>
                        }
                    </ol>
                }
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-12 text-right">
            @if (Model != null)
            {
                <button type="button" class="btn btn-info" id="View" onclick="GoToWorkingPaper()" style="display:none;">view</button>
                <button type="submit" class="btn btn-success">บันทึก</button>
            }
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $('.daterange').daterangepicker({
            opens: 'left',
            locale: { cancelLabel: 'Clear', format: 'DD/MM/YYYY' }
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        })
        @if (_WorkingPaper != null)
        {
            <TEXT>
                 $('#View').show()
            </TEXT>
        }
    })
    $('#FormWorkingPaper').submit(function (e) {
        e.preventDefault()

        const _FormData = $(this).serializeFormJSON()

        if (!_FormData || _FormData == null) return Swal.fire({ icon: 'warning', title: 'แจ้งเตือน', text: 'กรุณากรอกข้อมูลให้ครบ' })

        const Dates = _FormData.Daterange != null && _FormData.Daterange != '' ? _FormData.Daterange.split(' - ') : []
        const [SD, SM, SY] = Dates.length > 0 ? Dates[0].split('/') : []
        const [ED, EM, EY] = Dates.length > 1 ? Dates[1].split('/') : []

        const data = {
            AuditManegementSegmentID: _FormData.AuditManegementSegmentID != '' ? _FormData.AuditManegementSegmentID : null,
            WorkingPaperID: _FormData.WorkingPaperID != '' ? _FormData.WorkingPaperID : null,
            No: _FormData.No,
            ReviewNo: _FormData.ReviewNo,
            StartDate: `${SY}-${SM}-${SD}`,
            EndDate: `${EY}-${EM}-${ED}`,
            AuditorBy: _FormData.AuditorBy,
            OperationsControllerAuditorBy: _FormData.OperationsControllerAuditorBy,
            ProducerBy: _FormData.ProducerBy,
            ReviewerBy: _FormData.ReviewerBy,
            ApproveBy: _FormData.ApproveBy,
            ApproveDate: _FormData.ApproveDate,
        }
        // debugger
        // return
        Swal.fire({
            title: 'คุณแน่ใจไหม?',
            text: "คุณจะบันทึกข้อมูล!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#28a745',
            cancelButtonColor: '#d33',
            confirmButtonText: "ตกลง",
            cancelButtonText: "ยกเลิก",
        }).then((result) => {
            if (!result.isConfirmed) return;
            $.ajax({
                url: '@Url.Action("SaveWorkingPaperForDraft", "WorkingPaper")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (res) {
                    if (!res.status) {
                        Swal.fire({ icon: 'error', title: 'เกิดข้อผิดพลาด', text: res.message })
                        return
                    }
                    Swal.fire({ icon: 'success', title: 'สำเร็จ', text: res.message })
                    $('#WorkingPaperID').val(res?.data?.workingPaperID)
                    $('#View').show()
                }
            })
        })
    })

    function GoToWorkingPaper() {
        const WorkingPaperID = $('#WorkingPaperID').val()
        const AuditManegementSegmentID = $('#AuditManegementSegmentID').val()
        if (AuditManegementSegmentID == '' || WorkingPaperID == '') {
            Swal.fire({ icon: 'warning', title: 'แจ้งเตือน', text: 'ไม่พบข้อมูลการบันทึกกระดาษทำการ' })
            return
        }
        window.open(`@Url.Action("GetPageViewWorkingPaper", "SetUpSegmentAudit")?WorkingPaperID=${WorkingPaperID}&AuditManegementSegmentID=${AuditManegementSegmentID}`, "_blank")
    }

</script>